.idea/
node_modules/
.vscode/
*.map
.DS_Store
.sourcemaps
.shadow-cljs
.cpcache
.nrepl-port
AGENTS.md
dist/cljs-runtime
dist/kmain.js
dist/manifest.edn
dist/lab.js
ssl
*.local
*.local.*
target
resources/gen
